@import url('reset.css');

html,body{
  height: 100%;
}
body{
  background-color: #000;
  overflow: hidden;
}
i {
  position: absolute;
  height: 200px;
  background: linear-gradient(transparent,#fff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: star 5s linear infinite;
}
@keyframes star{
  0%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(calc(100vh + 200px));
  }
}
i:nth-of-type(3n+1){
  background: linear-gradient(transparent,#af7);
}
i:nth-of-type(3n+2){
  background: linear-gradient(transparent,#aa6);
}
i:nth-of-type(3n+3){
  background: linear-gradient(transparent,#00f);
}